@font-face{
        font-family:'logo';
       src: url(../fonts/FredokaOne-Regular.ttf);
       
}


@font-face {
        font-family: "botones";
        src: url(../fonts/MochiyPopPOne-Regular.ttf);
      }


      @font-face {
              font-family: 'principal' ;
              src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');;
      }